{% load static %}
	<footer id="footer" class="footer position-relative" style="background-color:#f2fbff;">
    	<div class="container footer-top">
      		<div class="row gy-4">
        		<div class="col-lg-2 col-md-3 col-4 footer-links">
          			<h4>Useful Links</h4>
          			<ul>
            			<li><a href="/">Home</a></li>
            			<li><a href="/About/">About us</a></li>
						<li><a href="/plans/">Plans</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="/Contact/">Contact</a></li>
          			</ul>
        		</div>

        		<div class="col-lg-4 col-md-5 col-8 footer-links">
          			<h4>Our Services</h4>
          			<ul>
						<li><a href="/school_management/">School Management System</a></li>
						<li><a href="/addimision_management/">Admission Management System</a></li>
						<li><a href="/learning_management/">Learning Management System</a></li>
						<li><a href="/transport_management/">Transport Management System</a></li>
						<li><a href="/fee_management/">Fees Management System</a></li>
						<li><a href="/payroll_management/">Payroll Management System</a></li>
          			</ul>
        		</div>

        		<div class="col-lg-3 col-md-4 col-12 footer-links">
          			<div class="footer-contact" style="font-family:'Roboto', sans-serif;">
            			<h4>Contact Details</h4>
            			<p style="font-family:'Roboto', sans-serif !important; color:#444444b3; font-size:15px;"><i class="fa-solid fa-envelope" style="color:#929292;"></i><span class="footer-data">&nbsp; support@vidyamate.in</span></p>
						<p class="my-md-3" style="font-family:'Roboto', sans-serif !important; color:#444444b3; font-size:15px;"><i class="fa-solid fa-phone" style="color:#929292;"></i><span class="footer-data">&nbsp; +91 93467 30371<br>
						<!-- &nbsp; &nbsp; &nbsp; Timing :9:30 AM to 6:30 PM<br>
						&nbsp; &nbsp; &nbsp; (Mon - Sat)</span> -->
						</p>
						<p style="font-family:'Roboto', sans-serif !important; color:#444444b3; font-size:15px;"><i class="fa-solid fa-location-dot" style="color:#929292;"></i><span class="footer-data">&nbsp; &nbsp;FiPal Technologies LLP,<br>
							&nbsp; &nbsp; &nbsp;Vannaiah Zinna Colony, Kanekal,<br>
							&nbsp; &nbsp; &nbsp;Anantapur, Andhra Pradesh</span>
						</p>
          			</div>
        		</div>

        		<div class="col-lg-3 col-md-4 col-6 footer-about">
					<a href="index.html" class="logo d-flex align-items-center me-auto social-media-links">
						<img src="assets/img/logo.png" alt="">
						<h3 class="mb-0" style="font-weight:700; color:#06A3DA;">Vidyamate</h3>
					</a>
					<div class="social-links d-flex mt-4 social-media-links">
						<a href=""><i class="bi bi-twitter"></i></a>
						<a href=""><i class="bi bi-facebook"></i></a>
						<a href=""><i class="bi bi-instagram"></i></a>
						<a href=""><i class="bi bi-linkedin"></i></a>
					</div>
        		</div>

      		</div>
    	</div>

    	<div class="container copyright text-center mt-4">
      		<p>@ Copyright 2024 | Vidyamate. All Rights Reserved.</p>
    	</div>
  	</footer>
